body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    color: white;
    font-weight: 5em;
    
}
h1{
    font-size: 2.5em;
    text-align: center;
    margin: 15px;
    padding: ;
}
ul{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background: #1A5B7E;
    display: flex;
    justify-content: space-around;
    
}
a{
    text-decoration: none;
    color: white;
}

#top{
    position: fixed;
    height: 60px;
    width: 100%;
    background: #1A5B7E;
}
img{
    width: 200px;
    height: 42px;
}
#back{
    height: 32px;
    width: 32px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_arrow_back_white_48dp.png);
    background-size: contain;
    margin: 16px;
    float: left;
}
#logo{
    position: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 42px;
    background-image: url(../img/logo-top.png);
    margin: 0.5em;
}

#search{
    background-image:url(../img/search.png);
    cursor: pointer;
}
#home{
    background-image:url(../img/home.png);
}
#menu{
    background-image:url(../img/menu.png);
    margin-top: 19px;
    cursor: pointer;
}
.icon{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-top: 14px;
}

#Animation{
    position: fixed;
    right: -170px;
    bottom: 3.7em;
    padding: 0;
    height: 150px;
    width: 150px;
    background: #1A5B7E;
    display: block;
    color: white;
    list-style: none;
    border-radius: 10px 0 0 0;
    
}
.menu li{
    margin: 25px;
    font-weight: bold;
    font-size: 1em;
}
#buscador{
    position: absolute;
    right: -85vw;
    float: right;
    width: 82vw;
    height: 56px;
    background-color: whitesmoke;
    border-radius: 57px 0 0 57px;
    padding-left: 10px;
    font-size: 1.5em;
    border: none;
    border: 1px solid #ccc;
}
#content{
    margin: auto;
    height: ;
    width: 80vw;
    padding-top: 60px;
    padding-bottom: 80px;
}
.patient{
    margin: auto;
    width: 80vw;
    height: 80px;
    margin-top: 2em;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25); 
}
.add{
    width: 45vw;
    height: 80px;
    margin-top: 2em;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25); 
}
#add{
    height: 80px;
    padding-left: 5em;
}
#txtadd{
    color: black;
    text-align: center;
    margin: 0;
}
#mas{
    color: black;
    margin: 0;
}
.room{
    float: left;
    height: 80px;
    width: 5em;
    background-color: #1A5B7E;
    margin: auto;
    border-radius: 15px 0 0 15px;
    text-align: center;
}
#r1 .room{
    background-color: #FF2626;
}
#r3 .room{
    background-color: #FF9B26;
}
.info{
    color: black;
    height: 80px;
    width: 100%;
    margin: auto;
    
}
h3{
    color: black;
    margin: auto;
    text-align: center;
    margin: 0.4em;
    padding-top: 10px;
}
.delete{
    float: right;
    height: 80px;
    width: 2em;
    background-color: #1A5B7E;
    margin: auto;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
.display{
    display: none;
}
svg{
    margin: 0.6em;
    margin-top: 32px;
}
#account{
    overflow: hidden;
    margin: auto;
    height: 100vh;
    width: 90vw;
    padding-top: 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25)
}
#account h1{
    color: black;
    padding-bottom: 0;
}
.left{
    float: left;
    clear: both;
    margin-left: 1em;
}
.right{
    float: right;
    font-weight: normal;
    margin-right: 1em;
}
#edit{
    margin-top: 60px;
    margin-right: -70px;
    cursor: pointer;
}
#patient{
    margin: auto;
    width: 90vw;
    height: 600px;
    padding-top: 75px;
}
#photo{
    margin: 0;
    margin-top: 10px;
}
#profile{
    width: 60vw;
    float: right;
}
#profile h3{
    margin: 0;
    text-align: right;
    line-height: 1.5em;
}
#edit2{
    position: fixed;
    top: 130px;
    right: 120px;
    cursor: pointer;
}
#bolas{
    margin: 1em auto;
    width: 90%;
    height: 50px;
    justify-content: space-around;
    display: none;
}
#b1{
    background-color: #FF2626;
    width: 3em;
    height: 3em;
    border-radius: 50px;
}
#b2{
    background-color: #FF9B26;
    width: 3em;
    height: 3em;
    border-radius: 50px;
}
#b3{
    background-color: #FFDC26;
    width: 3em;
    height: 3em;
    border-radius: 50px;
}
#status{
    color: #FF2626;
}
#days{
    margin: auto;
    width: 90%;
    padding: 5px 0 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 15px 15px;
    
}
#days h3{
    text-align: left;
    line-height: 8px;
}
#maxmin{
    display: flex;
}
.max{
    color: #1ED025; 
}
.min{
    color: red; 
}
#grafico{
    margin: auto auto;
    display: block;
    padding: 5px 0 10px 0;
}
#corazon{
    float: right;
    margin-top: 5px;
}
#siete{
    text-align: center;
    padding-top: 20px;
}
#siete h3{
    display: inline;
}
#mon{
    color: red;
}
#tue{
    color: red;
}
#wed{
    color: red;
}
#thu{
    color: red;
}
#fri{
    color: orange;
}
#sat{
    color: orange;
}
#sun{
    color: #1ED025;
}
#diagnosis{
    margin: 1em auto;
    width: 90%;
    height: 160px;
    padding: 5px 0 0 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 15px 15px;
}
#diagnosis h3{
    text-align: left;
    line-height: 5px;
}
h4{
    color: #1A5B7E;
    margin: 10px 5px 10px 5px;
    font-size: 0.8em;
    background-color: rgba(26, 91, 126, 0.200);
}
#chat{
    margin: auto;
    width: 6.8em;
    height: 2.5em;
    background-color: #1A5B7E;
    border-radius: 57px;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    line-height: 42px;
    box-shadow: 0px 4px 6Px rgba(0, 0, 0, 0.25);
    border-style: none;
}
/*Movil*/
@media (max-width:768px){
    h3{
        font-size: 1em;
    }
    #account h1{
        font-size: 1.2em;
    }
}
@media (max-width:380px){
    h3{
        font-size: 0.9em;
    }
}