body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(#1A5B7E 0, #8CCFF4 100vh);
}

#logo{
    margin: auto;
    height: 20em;
    width: 20em;
    background-image:url(../img/Logo.png);
    background-size: 100%;
}
#content{
    width: 20em;
    margin: auto;
}
#icono1{
    float: left;
    margin: auto;
    margin-top: 2em;
    height: 10em;
    width: 10em;
    background-image:url(../img/icono1.png);
    background-size: 100%;
}
#icono2{
    float: right;
    margin: auto;
    margin-top: 2em;
    height: 10em;
    width: 10em;
    background-image:url(../img/icono2.png);
    background-size: 100%;
}
input{
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login{
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 0.3em;
    width: 40%;
    height: 1.8em;
    border-radius: 10px;
    background-color: white;
}

#login{
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    margin-top: 180px;
    width: 6.8em;
    height: 2.5em;
    background-color: #1A5B7E;
    border-radius: 57px;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    line-height: 42px;
    box-shadow: 0px 4px 6Px rgba(0, 0, 0, 0.25);
    border-style: none;
}
label{
    font-size: 1.2rem;
    margin: auto;
}
a{
    text-decoration: none;
}
#password{
    margin-top: 70px;
}

/*Movil*/
@media (max-width:600px){
    .login{
        width: 60%;
}
#login{
   font-size:;
   margin-top: 150px;
}
#logo{
    width: 16em;
    height: 16em;
}
#icono1{
    width: 8em;
    height: 8em;
    margin-left: 2em;
}
#icono2{
    width: 8em;
    height: 8em;
    margin-right: 2em;
}